<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.7.0.js"
            integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
            crossorigin="anonymous"></script>


    <link rel="stylesheet" href="res/style.css">


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>


    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css"/>

    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
    <script type="module" src="libx/ui.js"></script>

</head>
<body>


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">

        <li class="breadcrumb-item"><a href="index.html" target="_top"> home </a></li>

        <li class="breadcrumb-item"><a href="shangxiafen.htm">上下分管理</a></li>
        <li class="breadcrumb-item"><a href="user.htm">用户管理</a></li>
        <li class="breadcrumb-item"><a href="oplog.htm">日志</a></li>


    </ol>
</nav>


<p></p>



<form role="form">
    <div class="form-group">
        <label for="fname">用 户 </label>
        <input class="form-control" type="text" value="" id="uname" name="fname" required >
    </div>

    <div class="form-group" style="display: none">
        <label for="password">密码</label>
        <input class="form-control"  type="text" value="" id="pwd" name="fname" required >
    </div>

    <div class="form-group">
        <label for="md5code">昵称</label>
        <input class="form-control" type="text" value="" id="nknm" name="fname"    >
    </div>

</form>




<br>
<button onclick="adduserFm()" type="button" class="btn btn-success" style="width: 100%">添加</button>


<button class="btn btn-primary" disabled id="loaddiv" style="xdisplay:none ">
    <span class="spinner-border spinner-border-sm"></span>
    Loading..
</button>

<script>


    $("#loaddiv").hide();
</script>



<p></p>



<script  type="module" src="https://unpkg.com/vue@3/dist/vue.esm-browser.js"></script>
<!--
<div id="app">{{ message }}</div>


<ul id="app2">
  <li v-for="item in items">
    {{ item.message }}
  </li>

</ul>


 const app1 = createApp({
    setup() {
      const message = ref('Hello Vue!')
      return {
        message
      }
    }
  }).mount('#app')



  const app2 = createApp({
    setup() {
      const message = ref('Hello Vue!')
      const items = ref([{ message: 'Foo' }, { message: 'Bar' }])
      return {
        items,message
      }
    }
  }).mount('#app2')
-->

<script type="module">




</script>

<script defer type="module">
    //defer not take effect ..must type module,then can invk behide the bindJsonToTable
    var json514 = {
        "maintype": "/GameHandle",
        "type": 7,
        "data": {
            "code": 0,
            "agentid": 111356,
            "linecode": "10001_1",
            "status": 0,
            "userid": 32076939,
            "account": "uname1",
            "totalScore": 300.0,
            "integralvalue": 6.0,
            "addscore": 300.0,
            "subscore": 0.0,
            "addscoretimes": 2,
            "subscoretimes": 0,
            "totalwinlose": 0.0,
            "totalrevenue": 0.0
        }
    };
    //console.log( window['bindJsonToTable']) //all undef
    //console.log( global['bindJsonToTable'])
    // window['bindJsonToTable'](json514)


</script>
<!--
 <ul id="app">
<li v-for="item in items">
  {{ item.message }}
</li>

 </ul>
<script>
  const { createApp, ref } = Vue

  const app1 = createApp({
    /* ... */
  })
  app1.mount('#app')

  createApp({
    setup() {
      const message = ref('Hello vue!')
      const items = ref([{ message: 'Foo' }, { message: 'Bar' }])
      return {
        message
      }
    }
  }).mount('#app')
</script>

-->


<p></p>


<p></p>





<script src="shangxiafen.js">


</script>
</body>
</html>